*.iml
.gradle
build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build
!**/src/test/**/build
local.properties
.idea
.DS_Store
*.log
server-android/src/main/assets/web/
server-desktop/build/web/
